.container {
  position: fixed;
  overflow: hidden;
  width: 300px;
  min-width: 200px;
  height: 95vh;
  padding-left: 30px;
  margin-block: 30px;

  .nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  width: 150px;
  margin-bottom: 30px;
}
