<div class="container flex">
  <div class="nav">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a
      [routerLink]="['/profile', user()?.uid]"
      routerLinkActive="router-link-active"
      >Profile</a
    >
    <a [routerLink]="['/create']" routerLinkActive="router-link-active"
      >Create</a
    >
    <app-user-search></app-user-search>
  </div>
  <div>
    <div class="notifications-container">
      <app-notifications></app-notifications>
    </div>
    <button mat-raised-button class="btn" (click)="logout()">Log out</button>
  </div>
</div>
