.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post-container {
  border: 5px solid lightgray;
}

.likes-container {
  display: flex;
  align-items: center;
  gap: 3px;
}
