.like-container {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}

.like-svg {
  cursor: pointer;
}

.likes {
  cursor: pointer;
}

.likedPost {
  fill: #1177dd;
}

.unlikedPost {
  fill: #dddddd;
}

.hide-element {
  display: none;
}

.post-liker {
  cursor: pointer;
}
