/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/magenta-violet.css";

html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.loading {
  width: 30px;
  height: 30px;
  border-right: 3px solid cornflowerblue;
  border-radius: 100%;
  animation: rotate 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
