@if (post) { @if (!post.isShared) {
<div class="post-container">
  <div class="card-upper">
    <p>{{ post.userName }}</p>
    <p>{{ post.createdAt | timestampToDate | date : "MMM d, y, h:mm a" }}</p>
  </div>
  <h2>{{ post.post }}</h2>
  <img [src]="post.imageUrl" />
  <div class="post-interaction">
    <app-likes [post]="post" [feedLikes]="true"></app-likes>
    <app-save-post [post]="post"></app-save-post>
    <app-share-post [post]="post"></app-share-post>
  </div>
  <div class="create-comment">
    <app-create-comment [post]="post"></app-create-comment>
  </div>
  <div class="comments">
    <app-comments [post]="post"></app-comments>
  </div>
</div>
} @else {
<div class="post-container">
  <div class="card-upper">
    <p>{{ post.userName }}</p>
    <p>{{ post.createdAt | timestampToDate | date : "MMM d, y, h:mm a" }}</p>
  </div>
  <p>{{ post.post }}</p>
  <div class="original-post-container">
    <p>{{ post.originalPoster }}</p>
    <p>{{ post.originalPost }}</p>
    <img [src]="post.imageUrl" />
  </div>
  <div class="post-interaction">
    <app-likes [post]="post" [profileLikes]="true"></app-likes>
    <app-save-post [post]="post"></app-save-post>
    <app-share-post [post]="post"></app-share-post>
  </div>
  <div class="create-comment">
    <app-create-comment [post]="post"></app-create-comment>
  </div>
  <div class="comments">
    <app-comments [post]="post"></app-comments>
  </div>
</div>
}}
